.queue-form{
  padding: 30px 25px;
  margin-top: 40px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0 10px 25px rgba(0, 0,0,0.2);
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.main-item{
   display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 40px;
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}
.queue-display{
  background: #bdcbd8;
  padding: 25px;
  border-radius: 15px;
  width: 350px;
  min-height: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
.queue-display h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.queue-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #f9fafc;
  padding: 15px;
  border-radius: 10px;

  border-left: 5px solid #667eea;
  transition: 0.3s;
}
.customer-info h3 {
  margin: 0;
  font-size: 16px;
  color: #222;
}

.customer-info p {
  margin: 5px 0 0;
  font-size: 13px;
  color: #777;
}

.queue-item:hover {
  transform: translateY(-3px);
  background: #f1f3ff;
}
.queue-form h2{
  text-align: center;
  margin-bottom: 10px;
  color: #385b92;

}

h1{
   text-align: center;
  margin-bottom: 20px;
  color: #385b92;
}

.queue-form input{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}
.queue-form input:focus {
  border-color: #667eea;
  box-shadow: 0 0 5px rgba(102, 126, 234, 0.5);
}

.queue-form button{
  padding: 13px;
  border: none;
  border-radius: 8px;
  background: #667eea;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.queue-form button:hover {
  background: #5a67d8;
  transform: translateY(-2px);
}

.queue-form button:active {
  transform: scale(0.98);
}

.form-group{
   padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}

.queue-form h2{
    text-align: center;
  margin-bottom: 10px;
  color: #385b92;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Common button style */
.actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  padding: 8px 10px;
  border: none;
  border-radius: 6px;

  font-size: 13px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Serve Button */
.serve-btn {
  background-color: #f59e0b;
  color: white;
}

.serve-btn:hover {
  background-color: #d97706;
  transform: translateY(-2px);
}

/* Complete Button */
.complete-btn {
  background-color: #10b981;
  color: white;
}

.complete-btn:hover {
  background-color: #059669;
  transform: translateY(-2px);
}

/* Remove Button */
.remove-btn {
  background-color: #ef4444;
  color: white;
}

.remove-btn:hover {
  background-color: #dc2626;
  transform: translateY(-2px);
}

/* Click effect */
.actions button:active {
  transform: scale(0.95);
}